---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

import {
	Breadcrumb,
	BreadcrumbItem,
	BreadcrumbLink,
	BreadcrumbList,
	BreadcrumbPage,
	BreadcrumbSeparator,
} from '@/components/ui/breadcrumb';
import { HomeIcon } from '@/components/ui/home';

import Layout from './layout.astro';

type Props = { post: CollectionEntry<'writings'> };

const { id, data } = Astro.props.post;

const writingImage = await import(`../assets/writings/${id}.jpeg`).then((img) => img.default);
---

<Layout title={data.title} description={data.description}>
	<div class="flex flex-col space-y-4 items-start justify-start max-w-2xl mx-auto">
		<div class="px-2 sm:px-4 md:px-6 mb-8">
			<Image
				class="rounded-2xl shadow-lg dark:shadow-slate-800/50 shadow-slate-300 w-full"
				src={writingImage}
				alt={data.title}
				width={2048}
				height={1536}
			/>
		</div>

		<Breadcrumb>
			<BreadcrumbList>
				<BreadcrumbItem>
					<BreadcrumbLink href="/">
						<HomeIcon size={20} client:load />
					</BreadcrumbLink>
				</BreadcrumbItem>
				<BreadcrumbSeparator />
				<BreadcrumbItem>
					<BreadcrumbPage>{id}</BreadcrumbPage>
				</BreadcrumbItem>
			</BreadcrumbList>
		</Breadcrumb>

		<div>
			<h1 class="text-3xl font-bold">
				{data.title}
			</h1>
			<p class="text-sm font-medium text-muted-foreground">
				{
					data.pubDate.toLocaleDateString('en-US', {
						year: 'numeric',
						month: 'long',
						day: 'numeric',
					})
				}
			</p>
		</div>

		<slot />
	</div>
</Layout>
